.error {
    color: red;
    font-size: 12px;
}

 .p-field {
    margin-bottom: 15px;
  
}

 .p-field label {
    font-weight: bold;
}

.p-dropdown {
    width: 100%;
}

textarea.p-inputtextarea {
    width: 100%;
}

 .p-button-success {
    width: 15%;
    text-align: center!important;
    align-items: center;
 }
