
<header class="header_section">
  <div class="container">
    <h2 class="text-center">Cart</h2>
    <a class="nav-link" routerLink="/pages/home"  href="/pages/home">back <span class="sr-only">(current)</span></a>
  </div>
</header>

<div class="container mt-4">
  <h2>Shopping Cart</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Product</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Total</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of cartItems">
        <td>{{ item.name }}</td>
        <td>${{ item.price }}</td>
        <td>{{ item.quantity }}</td>
        <td>${{ item.price * item.quantity }}</td>
        <td>
          <button pButton type="button" icon="pi pi-trash" class="p-button-danger p-button-sm"
            (click)="removeItem(item.id)">
            Remove
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="text-right">
    <h5>Total: ${{ getTotalCost() }}</h5> 
    <button pButton type="button" label="Checkout"  (click)="navigateToCheckout()"  class="p-button p-component p-button-success">
      Checkout</button>
</div>
</div>